{{#if faces.length}}
    <div class="alert alert-success" role="alert">
        I found <strong>{{faces.length}}</strong> thing(s).
    </div>
{{else}}
    <div class="alert alert-warning" role="alert">
        Sorry, but I couldn't find anything...
    </div>
{{/if}}

<div class="frame">
    <img src="static/result/{{filename}}">
    {{#each faces}}
        <a href="#" style="width: {{ width }}px; 
            height: {{ height }}px; 
            left: {{ x }}px; 
            top: {{ y }}px;">
        </a>  
    {{/each}}
</div>